html, body
	{
		height: 100%;
		width:auto;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #ffffff;
		font-family: 'Varela', sans-serif;
		font-size: 11pt;
		font-weight: 300;
		color: black;
	}

nav{
	height:1vh;
    position: static;
    top: 100;
    left: 0;
    width: 100%;
    z-index: 3;
    transition: background-color ease 0.8s;
}

nav a{
	text-decoration:none;
	color:#e0e0e0
}

.nav_item{
    font-size: 4vh;
    list-style: none;
    padding: 0 10px;
    color: #e0e0e0;
    cursor: pointer;
}

.nav_item:hover:after,.nav_active:after{
    background-color: #e0e0e0;
}

.nav_item:after{
    height: 3px;
    width: 100%;
    display: block;
    content:"";
    transition: background-color ease 1s;
}

.section-title{
		font-weight: 800;
		color: #2B3F48;
		font-size: 6vh;

}	

	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		font-weight: bloder;
		color: #2B3F48;
		font-size: 3vh;
	}
	
	h4
	{
		margin: 0;
		padding: 0;
		font-weight: 900;
		color: #4e4c52;
		font-size: 3vh;
	}	

	h5
	{
		margin: 0;
		padding: 0;
		font-weight: 500;
		color: #ffffff;
		font-size: 1vw;
	}
	h6
	{
		margin: 0;
		padding: 0;
		font-weight: 500;
		color: #4e4c52;
		font-size: 2.7vh;
	}	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	ul.actions
	{
		text-align: center;
	}
		
	ul.actions li
	{
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #0000FF;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 80vw;
	}
	
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: block;
		height: auto;
		max-width:100% ;
		margin: 0em auto;

	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-ncnu
	{	width: 5vw;
		display: block;
		margin: 0 0 0 0;
		position:fix;
	}

	.image-big
	{	width: 30vw;
		display: block;
		margin: 0 0 0 0;
		position:fix;
	}

	.image-catagory
	{	width: 5vw;
		display: block;
		margin: 0 0 0 0;
		position:fix;
	}

	.image-assistant
	{	width: 300px;
		height:94px;
		display: block;
		margin: 0 0 0 0;
		position:fix;
	}	
	.image-centered
	{	width: 7vw;
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.staff
	{
		margin-bottom: 3em;
	}

	ul.staff li
	{
		display: inline-block;
	}
	
	ul.staff li img
	{
		width: 80%;
		border-radius: 50%;
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}
	
	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button mdc-button.mdc-button--outlined{
  width: 30vw;
  height:40px;  
  margin: 0px;
  padding: 0px;
  margin: 0em auto;
  mdc-theme--primary: #ded7ff;
  mdc-theme--primary-bg: #003db8;
  color:#6F6F6F
  z-index: 2;

}
	
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 4vw;
	}
	
	.main
	{
		font-size: 10vw;
		color: #FFFFFF;
		}
	
	.title .byline
	{
		font-size: 4vw;
		color: #6F6F6F;
	}

	.title .bysub
	{
		font-size: 6vw;
		color: #FFFFFF;
	}
	.school_link
	{
		font-size: 2vw;
		text-decoration:none;
		list-style: none;
		color:#6F6F6F
	}
		
/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

	.box1,
	.box2,
	.box3,
	.box4
	{
		width: 10vw;
	}
	
	.box1,
	.box2,
	.box3,
	{
		float: center;
		margin: 0em auto;
	}
	
	.box4
	{
		float: center;
	}
	
/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

	.boxA,
	.boxB,
	.boxC
	{
		width: 320px;
	}

	.boxA,
	.boxB
	{
		float: left;
		margin-right: 20px;
	}
	
	.boxC
	{
		float: right;
	}

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

	.tbox1,
	.tbox2
	{
		width: 575px;
	}
	
	.tbox1
	{
		float: left;
	}

	.tbox2
	{
		float: right;
	}
	
	#wrapper
	{
		background: #FFF;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		background: #4e4c52;
	}

	#header
	{
		position: relative;
		padding: 3em 0em;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		top: 1em;
		left: 0;
	}
	
	#logo h1
	{
		color: #FFF;
	}
	
	#logo a
	{
		text-decoration: none;
		text-transform: uppercase;
		color: #FFF;
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		top: 2em;
		right: 0;
	}
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
	#menu li a, #menu li span
	{
		padding: 1em 1.5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
		color: #FFF;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		background: #387dcc;
		border-radius: 7px;
		color: #FFF;
	}
	
	#menu .current_page_item a
	{
		background: #4e4c52;
		color: #FFF;
	}
	
	#menu .icon
	{
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		overflow: hidden;
		padding: 7em 0em 5em 0em;
		background-size: cover;
		text-align: center;
		color: rgba(255,255,255,.8);
	}

	#banner .title
	{
		margin-bottom: 1em;
		text-transform: uppercase !important;
	}

	#banner .title h2
	{
		color: #FFF;
	}

	#banner .title .byline
	{
		color: rgba(255,255,255,.6);
	}
	
	#banner .button
	{
		margin-top: 3em;
		background: #5f6368 !important;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		padding: 5em 0em;
		text-align: center;
	}
	
	#page .button
	{
		margin-top: 2em;
		display: inline-block;
		text-align: center;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		width:auto;
		overflow: hidden;
		background-color: #4e4c52;
		padding: 5em 0em;
		border-top: 1px solid rgba(255,255,255,0.08);
	}
	
	#copyright p
	{
		text-align: center;
		font-size: 1em;
		color: rgba(255,255,255,0.5);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.8);
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #4e4c52;
		color: rgba(255,255,255,.8);
		text-align: center;
	}

	#featured a
	{
		color: rgba(255,255,255,1);
	}
	
	#featured .button
	{
		background: #FFF;
		margin-top: 3em;
		font-size: 1em;
		color: #4e4c52;
	}

	#featured img
	{
		margin-bottom: 3em;
		border-radius: 7px;
	}

	#featured .title h2
	{
		color: #FFF;
	}

	#featured .title .byline
	{
		color: rgba(255,255,255,.6);
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

.box
{
	padding: 3em 2em 2em 2em;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 8px;
	text-align: center;
}


	#extra
	{
		overflow: hidden;
		padding: 5em 0em;
	}
	
	#extra .title
	{
		text-align: center;
	}
	
	#extra .button
	{
		margin-top: 5em;
	}
	
	#extra .fa
	{
		display: block;
		margin-bottom: 0.5em;
		text-align: center;
		font-size: 3em;
	}

/*********************************************************************************/
/* 旋轉木馬                                                                     */
/*********************************************************************************/

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
  width: 50vw;
  height: 28.12vw;
  margin: 0px;
  padding: 0px;
  margin: 0em auto;
}

.carousel-cell {
  width: 50vw;
  height: 28.12vw;
  margin-right: 10px;
  background: #4e4c52;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel-img {
  width: 50vw;
  height: 28.12vw;
}

@use "@material/button";

.my-custom-button {
  @include button.shape-radius(50%);
}
