@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-google-blue: var(--google-blue-500);
  --color-google-red: var(--google-red-500);
  --color-google-yellow: var(--google-yellow-500);
  --color-google-green: var(--google-green-500);
  --color-halftone-blue: var(--halftone-blue);
  --color-halftone-red: var(--halftone-red);
  --color-halftone-yellow: var(--halftone-yellow);
  --color-halftone-green: var(--halftone-green);
  --color-pastel-blue: var(--pastel-blue);
  --color-pastel-red: var(--pastel-red);
  --color-pastel-yellow: var(--pastel-yellow);
  --color-pastel-green: var(--pastel-green);
  --color-black-02: var(--black-02);
  --color-off-white: var(--off-white);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.965 0 0);
  --foreground: oklch(0.222 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.222 0 0);
  --popover: oklch(0.965 0 0);
  --popover-foreground: oklch(0.222 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.222 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  /* Google Colors */
  --google-blue-500: #4285f4;
  --google-red-500: #ea4335;
  --google-yellow-500: #fbbc04;
  --google-green-500: #34a853;

  /* Halftone Colors */
  --halftone-blue: #57caff;
  --halftone-red: #ff7daf;
  --halftone-yellow: #ffd427;
  --halftone-green: #5cdb6d;

  /* Pastel Colors */
  --pastel-blue: #c3ecf6;
  --pastel-red: #f8d8d8;
  --pastel-yellow: #ffe7a5;
  --pastel-green: #ccf6c5;

  /* Neutral Colors */
  --off-white: #f0f0f0;
  --black-02: #1e1e1e;
}

.dark {
  --background: oklch(0.222 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(0.965 0 0 / 10%);
  --input: oklch(0.965 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.965 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  /* Google Colors */
  --google-blue-500: #57caff;
  --google-red-500: #ff7daf;
  --google-yellow-500: #ffd427;
  --google-green-500: #5cdb6d;

  /* Halftone Colors */
  --halftone-blue: #4285f4;
  --halftone-red: #ea4335;
  --halftone-yellow: #fbbc04;
  --halftone-green: #34a853;

  /* Pastel Colors */
  --pastel-blue: #c3ecf6;
  --pastel-red: #f8d8d8;
  --pastel-yellow: #ffe7a5;
  --pastel-green: #ccf6c5;

  /* Neutral Colors */
  --off-white: #1e1e1e;
  --black-02: #f0f0f0;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-tabs-trigger {
  background-color: var(--color-halftone-blue);
  color: var(--color-google-blue);
  transition: background 0.2s, color 0.2s;
}
.custom-tabs-trigger[data-state="active"] {
  background-color: var(--color-google-blue);
  color: var(--off-white);
  font-weight: bold;
  box-shadow: 0 2px 8px 0 #4285f422;
}

ol {
  list-style: none;
}

ol li {
  counter-increment: li;
}

.custom-list li::before {
  content: counter(li)"."; /* 使用 Unicode 或其他符號 */
  color: var(--color-google-red); /* 設定項目符號的顏色 */
  display: inline-block;
  list-style-position: inside;
  width: 1em;
  margin-left: -1em;
}

.custom-list-disc li::before {
  content: "•"; /* 使用 Unicode 或其他符號 */
  color: var(--color-google-red); /* 設定項目符號的顏色 */
  display: inline-block;
  list-style-position: inside;
  width: 1em;
  margin-left: -1em;
}

.dropdown-mobile-menu-item {
  display: block;
  user-select: none;
  margin-bottom: 0.25rem;
  border-radius: 0.375rem;
  padding: 0.75rem;
  line-height: 1;
  text-decoration: none;
  outline: none;
  transition: background-color 0.2s, color 0.2s;
}

.dropdown-mobile-menu-item:hover,
.dropdown-mobile-menu-item:focus {
  background-color: var(--accent-color);
  color: var(--accent-foreground-color);
}